<div class="container" ng-show="state=='waiting'">
	<div class="row">
		<h1>Waiting for server to respond</h1>
	</div>
</div>
<div class="container" ng-show="state=='error'">
	<div class="row">
		<h1>Error</h1>
		<p>Guru Meditation</p>
		<pre>{{error}}</pre>
	</div>
</div>
<div class="container" ng-show="state=='closed'">
	<div class="row">
		<h1>Closed</h1>
		<p>Connection was closed, refresh to reconnect</p>
	</div>
</div>
<div class="container" ng-show="state=='lobby' && isHost == true">
	<div class="row">
		<h1>Waiting for players</h1>
		<p>Scan this code to join or enter this URL manually:</p>
		<p>
			<a href="http://localhost:3000/#/game/{{id}}">http://localhost:3000/#/game/{{id}}</a>
		</p>
		
		<div class="col-sm-9">
			<center>
				<qrcode data="http://localhost:3000/#/game/{{id}}" version="5" size="400"></qrcode>
			</center>
		</div>
		<div class="col-sm-3">
			<button class="btn btn-primary btn-lg" ng-click="start()">Start game</button>
		</div>	
	</div>
	<div class="row">
		<h2>Players Connected</h2>
		<ul>
			<li ng-repeat="player in players">Player {{player.id}}</li>
		</ul>
	</div>
</div>
<div class="container" ng-show="state=='lobby' && isHost == false">
	<div class="row">
		Welcome, player!
	</div>
</div>
<div class="container" ng-show="state=='start' && isHost == true">
	<div class="row">
		<div class="row">
		<div class="col-xs-4"><button class="btn btn-primary form-control">Player {{board[0]}}</button></div>
		<div class="col-xs-4"><button class="btn btn-primary form-control">Player {{board[1]}}</button></div>
		<div class="col-xs-4"><button class="btn btn-primary form-control">Player {{board[2]}}</button></div>
	</div>
	<div class="row">
		<div class="col-xs-4"><button class="btn btn-primary form-control">Player {{board[3]}}</button></div>
		<div class="col-xs-4"><button class="btn btn-primary form-control">Player {{board[4]}}</button></div>
		<div class="col-xs-4"><button class="btn btn-primary form-control">Player {{board[5]}}</button></div>
	</div>
	<div class="row">
		<div class="col-xs-4"><button class="btn btn-primary form-control">Player {{board[6]}}</button></div>
		<div class="col-xs-4"><button class="btn btn-primary form-control">Player {{board[7]}}</button></div>
		<div class="col-xs-4"><button class="btn btn-primary form-control">Player {{board[8]}}</button></div>
	</div>
	</div>
</div>
<div class="container" ng-show="state=='start' && isHost == false">
	<div class="row">
		<div class="col-xs-4"><button class="btn btn-primary form-control" ng-click="move(0)">Player {{board[0]}}</button>		</div>
		<div class="col-xs-4"><button class="btn btn-primary form-control" ng-click="move(1)">Player {{board[1]}}</button></div>
		<div class="col-xs-4"><button class="btn btn-primary form-control" ng-click="move(2)">Player {{board[2]}}</button></div>
	</div>
	<div class="row">
		<div class="col-xs-4"><button class="btn btn-primary form-control" ng-click="move(3)">Player {{board[3]}}</button></div>
		<div class="col-xs-4"><button class="btn btn-primary form-control" ng-click="move(4)">Player {{board[4]}}</button></div>
		<div class="col-xs-4"><button class="btn btn-primary form-control" ng-click="move(5)">Player {{board[5]}}</button></div>
	</div>
	<div class="row">
		<div class="col-xs-4"><button class="btn btn-primary form-control" ng-click="move(6)">Player {{board[6]}}</button></div>
		<div class="col-xs-4"><button class="btn btn-primary form-control" ng-click="move(7)">Player {{board[7]}}</button></div>
		<div class="col-xs-4"><button class="btn btn-primary form-control" ng-click="move(8)">Player {{board[8]}}</button></div>
	</div>
</div>
